<div>
    <h1>The General Channel</h1>

    <h3>Boards:</h3>
    {{!-- <div>
        <a href="/companies/new">Add New Company</a>
    </div>  --}}
    {{#each boards}}
        <div>
            {{this.name}} - {{this.country}}
            <a href="/boards/{{this._id}}">{{this.name}} Info</a>
            <a href="/boards/{{this._id}}/posts">{{this.name}}'s posts</a>
        </div>
    {{/each}}
</div>