<div class="container">

	<div class="col s12 boardlist">
		<h3>Boards:</h3>
		<div>
			<a href="/boards/new">Add New Board</a>
		</div>
		<div class="boardList">
			<ul class="collection stripedList">
				{{#each boards}}
				<li class="collection-item row" href="/boards/{{this._id}}/">
					<div class="col s11">
						<span class="title">
							<h3>{{this.name}}</h3>
						</span>
						<span class="description">
							<p>{{this.description}}</p>
						</span>
						<p>created by {{this.user}}
							<br> On: {{niceDate this.date}}
							<br> number of post: {{this.posts.length}}
						</p>
					</div>
					<div class="col s1">
						<a href="/boards/{{this._id}}/posts" class="btn valign-wrapper">
							<i class="fas fa-arrow-right"></i>
						</a>
					</div>
				</li>
				{{/each}}
			</ul>
			<div class="col s12 content-footer">
				<div class="row">
					<div class="col s12">
						<a class="btn " href="/boards/new">Add New Board</a>
						<a class="btn" href="/board/users/">Need to create a user?</a>
					</div>
				</div>
			</div>

		</div>
		<br>

	</div>



</div>