<div>
    <h1>{{board.name}}</h1>
    <div>Description: {{board.description}}</div>
    <div>Date-created: {{board.date}}</div>
    <div>
        <a href="/boards">Back to Companies</a>
    </div>
    <div>
        <a href="/boards{{board._id}}/edit">Edit</a>
    </div>
    <div>
        <a href="/boards/{{board._id}}/delete">Delete</a>
    </div>
</div>