<div class="container">
    <h1>{{board.name}}</h1>
    <h2>{{board.description}}</h2>
    <div>
    <span>    <a href="/boards/{{board._id}}">{{board.name}} Info</a>
    <a href="/boards">Back to Boards</a>
    </div>
    <div class="jumbotron">
    
    {{#each board.posts}}
        {{!-- <div> --}}
            <ul>
                <li>{{this.content}}</li>
                <li>{{this.user}} <span class"text-right"> {{this.date}}</span></li>
            </ul>
            <hr> 
            {{!-- <button
            action="/board/{{board._id}}/posts/{{post._id}}?_method=PUT" method="POST" >
            <input type="submit" value="Hide"></button>
        </div> --}}
    {{/each}}
    </div>
     <div>
        <a href="/boards/{{board._id}}/posts/new">Create a New Post</a>
    </div>
</form>
    
</div>
