
<div class="container">
	<h1>{{board.name}}</h1>
	<h2>{{board.description}}</h2>
	<div>
		<span>
			<a href="/boards/{{board._id}}">{{board.name}} Info</a>
	</div>
	<div class="">

		{{#each board.posts}} {{!--
		<div> --}}
			<ul class="collection">
				<li class="collection-item">{{this.content}}</li>
				<li class="collection-item">{{this.user}}
					<span class "text-right"> {{this.date}}</span>
				</li>
			</ul>
			<hr> 
			{{/each}}
	</div>
	<div>
		<a href="/boards/{{board._id}}/posts/new">Create a New Post</a>
	</div>
	</form>

</div>