<div>
    <h1>{{board.name}}'s posts</h1>
    <h2>{{board.description}}</h2>
    <a href="/boards/{{board._id}}">{{board.name}} Info</a>
   
    <div>
        <a href="/boards">Back to Boards</a>
    </div>
    
    {{#each board.posts}}
        <div>
            {{this.content}} -- {{ this.date}} <button
            action="/board/{{board._id}}/posts/{{post._id}}?_method=PUT" method="POST" >
            <input type="submit" value="Hide"></button>
        </div>
    {{/each}}

     <div>
        <a href="/boards/{{board._id}}/posts/new">Create a New Post</a>
    </div>
</form>
    
</div>
